<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'changePassword.title' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-bounce padding>
  <form [formGroup]="passwordsForm">

    <!-- oldPassword -->
    <ion-item>
      <ion-label position="floating">{{ 'changePassword.oldPassword' | translate }}</ion-label>
      <ion-input [formControl]="passwordsForm.controls['oldPassword']" [type]="showOldPassword ? 'text' : 'password'"
        clearOnEdit="false">
      </ion-input>
      <ion-icon slot="end" [name]="showOldPassword ? 'eye-off' : 'eye'" (click)="hideShowOldPassword()"></ion-icon>
    </ion-item>

    <ion-label color="danger"
      *ngIf="!passwordsForm.controls.oldPassword.valid && (passwordsForm.controls.oldPassword.dirty || passwordsForm.controls.oldPassword.touched)">
      {{ 'changePassword.oldPasswordError' | translate }}
    </ion-label>

    <!-- password -->
    <ion-item>
      <ion-label position="floating">{{ 'changePassword.newPassword' | translate }}</ion-label>
      <ion-input [formControl]="passwordsForm.controls['password']" [type]="showNewPassword ? 'text' : 'password'"
        clearOnEdit="false">
      </ion-input>
      <ion-icon slot="end" [name]="showNewPassword ? 'eye-off' : 'eye'" (click)="hideShowNewPassword()"></ion-icon>
    </ion-item>

    <ion-label color="danger"
      *ngIf="!passwordsForm.controls.password.valid && (passwordsForm.controls.password.dirty || passwordsForm.controls.password.touched)">
      {{ 'changePassword.passwordError' | translate }}
    </ion-label>

    <!-- confirmPassword -->
    <ion-item>
      <ion-label position="floating">{{ 'changePassword.confirmPassword' | translate }}</ion-label>
      <ion-input [formControl]="passwordsForm.controls['confirmPassword']"
        [type]="showConfirmPassword ? 'text' : 'password'" clearOnEdit="false">
      </ion-input>
      <ion-icon slot="end" [name]="showConfirmPassword ? 'eye-off' : 'eye'" (click)="hideShowConfirmPassword()">
      </ion-icon>
    </ion-item>

    <ion-label color="danger"
      *ngIf="!passwordsForm.controls.confirmPassword.valid && (passwordsForm.controls.confirmPassword.dirty || passwordsForm.controls.confirmPassword.touched)">
      {{ 'changePassword.confirmPasswordError' | translate }}
    </ion-label>

    <!-- buttons -->
    <ion-row class="sign-in-button-container">
      <ion-col text-center>
        <ion-button size="default" expand="full" shape="round" [disabled]="!passwordsForm.valid" (click)="confirm()">
          {{ 'changePassword.confirm' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="sign-in-button-container">
      <ion-col text-center>
        <ion-button size="default" expand="full" shape="round" color="danger" (click)="dismissModal()">
          {{ 'cancel' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>