<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">{{ 'title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="white-bg">
    <img src="assets/imgs/logo.png" class="center logo">
    <h6 style="text-align:center; color: grey;">
      {{version}}
    </h6>
    <ion-card class="itemWithBorder">
      <!-- Username (email) -->
      <ion-item lines="none">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label position="floating">{{ 'login.email' | translate }}</ion-label>
        <ion-input clearInput type="text" placeholder="" [(ngModel)]="username" (ionBlur)="trimUsername()"></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <!-- Confirm -->
          <ion-col>
            <ion-button size="default" expand="full" shape="round" (click)="confirm()">
              {{ 'forgotPassword.confirm' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- Login -->
          <ion-col>
            <ion-button size="default" expand="full" shape="round" (click)="goToLogin()">
              {{ 'forgotPassword.backToLogin' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
</ion-footer>