:root {
    --ion-background-color: white !important;
    --ion-background-color-rgb: 255, 255, 255 !important;
    background-color: white !important;
}

.center {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
}
.logo {
    // object-fit: contain;
    max-height: 50vh;
    min-width: 10vw;
    width: auto;
}

.fixed-content,
.scroll-content 
{
    background-color: white !important;
}


.item {
    background-color: --on-color-secondary !important;//map-get($colors, secondary);
}